$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "_bootstrap.min";

/* Put your CSS here */
html, body {
  margin: 0px;
  font-size: 1.2em;
  line-height: 1.2em;
}

body {
  background: #fafafa;
  color: #333;

  > header {

    > nav {
      padding: 0px 50px;
    }

    #facebookLogin {
      float: left;
    }

    > div:last-child {
      > * {
        margin-right: 20px;
      }
    }
  }
}

textarea {
    margin: 10px 0px;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}
ul.horizontal {
  li {
    display: inline-block;
    margin-right: 15px;
  }
}

.themes {
  a {
    font-size: 4em;
    text-decoration: none;
    color: #444;

    &:hover {
      text-decoration: underline;
    }
  }
}

.section {
  input[type=text] {
    margin: 20px 0px;
  }

  input[type=submit] {
    margin: 10px 0px;
  }

  li {
    display: inline-block;
    margin-right: 10px;
  }

  .btn + .btn {
    margin-right: 15px;
  }

  .skip-question {
    margin-left: 15px;
    cursor: pointer;
  }

  .content-editable {
    padding: 25px 0px;
    margin: 20px 0px;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;

    &:focus, &:active {
      outline: -webkit-focus-ring-color auto 0px !important;
    }
  }

  .follow-container {
    margin-bottom: 20px;
  }

  .zen-mode {
    margin-top: 35px;
    cursor: pointer;
  }
}

.zen {
  margin: 0px;

  .zen-center {
    text-align: center;
  }

  .zen-highlight {
    width: 90%;
    max-width: 720px;
    margin: 0 auto;
  }

  .content-editable {
    border-bottom: 0px solid white;
  }

  .section {
    h1.pull-left {
      width: 100%;

      small {
        display: block;
        margin: 5px 0px;
      }
    }
  }
}

.zen-helper {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
  opacity: 0.3;

  div {
    margin-top: 10px;

    &:first-child {
      margin-top: 0px;
    }
  }

  &:hover {
    opacity: 0.7;
  }
}

.lights-off {
  color: #EEE;
  background-color: #333;
}

.navbar-brand {
  font-size: 1.2em !important;
}
.main-view {
  padding: 0px 64px;
}

a {
  cursor: pointer;
}