<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stories Worth Living</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
</head>
  <body ng-class="{ 'zen' : zenMode, 'lights-off' : lightsOffMode }" ng-app="storiesWorthLivingApp" ng-controller="RootCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <header ng-hide="zenMode">
      <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Stories Worth Living</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" ng-hide="user.id">
              <li><a ng-click="login()">Log In</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="user.id">
              <li><a ng-click="logout()">Log Out</a></li>
              <li><a href="#/answer">Answer</a></li>
              <li><a href="#/me">My Profile</a></li>
              <li><a href="#/user/1">User</a></li>
              <li><a href="#/admin/questions">Admin</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="main-view" ng-view></div>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>

    <script src="//cdn.firebase.com/v0/firebase.js"></script>
    <script src="//cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
    <script src="//cdn.firebase.com/js/simple-login/1.2.5/firebase-simple-login.js"></script>

    <script src="bower_components/angular-contenteditable/angular-contenteditable.js"></script>

        <!-- build:js scripts/modules.js -->
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/root.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/create.js"></script>
        <script src="scripts/controllers/admin/questions.js"></script>
        <script src="scripts/services/DB.js"></script>
        <script src="scripts/controllers/answer.js"></script>
        <script src="scripts/controllers/user.js"></script>
        <script src="scripts/controllers/me.js"></script>
        <script src="scripts/services/meDao.js"></script>
        <script src="scripts/services/userDao.js"></script>
        <!-- endbuild -->
</body>
</html>
