<section class="section">

  <section ng-show="displayedQuestions[questionIndex]">
    <header class="zen-highlight zen-center clearfix">
      <h1 class="pull-left">{{displayedQuestions[questionIndex].text}}<small class="text-danger skip-question" ng-click="nextQuestion()">(Skip Question)</small></h1>
      <a class="zen-mode pull-right" ng-hide="zenMode" ng-click="toggleZenMode()">
        Enter Zen Mode
      </a>
    </header>

    <div
      class="zen-highlight content-editable"
      contenteditable="true"
      ng-model="answer.text"
      select-non-editable="true">
    </div>

    <div ng-hide="zenMode" class="clearfix">
      <button class="btn btn-danger pull-right" ng-click="submit(true)">Post Privately</button>

      <button class="btn btn-primary pull-right" ng-click="submit(false)">Post Publicly</button>
    </div>
  </section>

  <section ng-hide="displayedQuestions[questionIndex]">
    You did all of the questions!
  </section>

</section>

<div class="zen-helper" ng-show="zenMode">
  <div><a ng-click="toggleLights()">Toggle Lights</a></div>
  <div><a ng-click="toggleZenMode()">Exit Zen Mode</a></div>
</div>