<section class="section">

  <section ng-show="displayedQuestions[questionIndex]">
    <h1>{{displayedQuestions[questionIndex].text}}<small class="text-danger skip-question" ng-click="nextQuestion()">(Skip Question)</small></h1>

    <div
      class="content-editable"
      contenteditable="true"
      ng-model="answer.text"
      select-non-editable="true">
    </div>

    <div class="clearfix">
      <button class="btn btn-danger pull-right" ng-click="submit(true)">Post Privately</button>

      <button class="btn btn-primary pull-right" ng-click="submit(false)">Post Publicly</button>
    </div>
  </section>

  <section ng-hide="displayedQuestions[questionIndex]">
    You did all of the questions!
  </section>

</section>