<section class="themes">

  <!--<table class="table">
    <tbody>
      <tr ng-repeat-start="theme in predefinedThemes">
        <td rowspan="2">
          <a class="themeTitle" href='#/themes/{{theme.url}}/'>{{theme.text}}</a>
        </td>
        <td>{{theme.question}}</td>
      </tr>
      <tr ng-repeat-end>
        <td>
          <textarea class="form-control" rows="1" ng-model="theme.quickAnswer"></textarea>
          <div class="clearfix">
            <button class="btn btn-primary pull-right" ng-click="addAnswer(theme)">Add Answer</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>-->

  <section ng-repeat="theme in predefinedThemes">
    <div>
      <a href='#/themes/{{theme.url}}/'>{{theme.text}}</a>
    </div>
    <div>
      <textarea class="form-control" rows="1" ng-model="theme.quickAnswer"></textarea>
      <div class="clearfix">
        <button class="btn btn-primary pull-right" ng-click="addAnswer(theme)">Add Answer</button>
      </div>
    </div>
  </section>

  <section class="row" >
    <header>Or Your Own Custom Theme:</header>
    <textarea class="form-control" rows="1" ng-model="newTheme"></textarea>
    <div class="clearfix">
      <button class="btn btn-primary pull-right" ng-click="addTheme()">Add Theme</button>
    </div>
  </section>

</section>